/* <h1>Lambda Pizza</h1>
      <h3>Hot and Juicy</h3>
      <Link to='/'>Home</Link>
      <button onClick={routeToPizza}>Hot Pizza</button> */
     .pizzalogin {
       display: flex;
       flex-direction: column;
       align-items: center;
      justify-content: center;
      width: auto;
      margin: 10%;
      border: 1px solid black;
      background-color: darkred;
      height: 100%;
     }
     
      h1 {
        text-align: center;
        font-weight: 600;
        font-size: 3rem;
        color: darkblue;
      }

      h3 {
        text-align: center;
        text-decoration: seagreen;
        text-shadow: skyblue 1px;
        border: palevioletred 2px dotted;
      }

      button {
        text-transform: capitalize;
        color: black;
        text-decoration: wavy;
        border: 1px;
        border-top: 10px;
      }

      .link {
        border-bottom: 2%;
      }

